<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuites</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c6f6d">  <td>21/01/11 08:59:11</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;CentralBaseProcessor.EndExtentReport()[pri:0, instance:framework.dataDriven.ExecuteTest@9e0f5d]">&lt;&lt;EndExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@21279216</td>   <td></td> </tr>
<tr bgcolor="9c6f6d">  <td>21/01/11 08:59:11</td>   <td>-510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CentralBaseProcessor.PostProcessing(org.testng.ITestResult)[pri:0, instance:framework.dataDriven.ExecuteTest@9e0f5d]">&lt;&lt;PostProcessing</td> 
<td>&nbsp;</td>  <td>TestNG@21279216</td>   <td></td> </tr>
<tr bgcolor="9c6f6d">  <td>21/01/11 08:58:45</td>   <td>-26031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CentralBaseProcessor.Pretreatment(java.lang.reflect.Method)[pri:0, instance:framework.dataDriven.ExecuteTest@9e0f5d]">&gt;&gt;Pretreatment</td> 
<td>&nbsp;</td>  <td>TestNG@21279216</td>   <td></td> </tr>
<tr bgcolor="9c6f6d">  <td>21/01/11 08:58:45</td>   <td>-26031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CentralBaseProcessor.Setup(java.lang.String, int, int, java.lang.String, int, java.lang.String, int, java.lang.String, java.lang.String)[pri:0, instance:framework.dataDriven.ExecuteTest@9e0f5d]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>TestNG@21279216</td>   <td></td> </tr>
<tr bgcolor="9c6f6d">  <td>21/01/11 08:58:45</td>   <td>-26040</td> <td>&nbsp;</td><td title="&gt;&gt;CentralBaseProcessor.StartExtentReport(java.lang.String)[pri:0, instance:framework.dataDriven.ExecuteTest@9e0f5d]">&gt;&gt;StartExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@21279216</td>   <td></td> </tr>
<tr bgcolor="9cfc96">  <td>21/01/11 08:58:51</td>   <td>-20472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SubTransferStator.initial()[pri:0, instance:framework.dataDriven.ExecuteTest@9e0f5d]">&gt;&gt;initial</td> 
<td>&nbsp;</td>  <td>TestNG@21279216</td>   <td></td> </tr>
<tr bgcolor="87767d">  <td>21/01/11 08:59:10</td>   <td>-1142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExecuteTest.inputData()[pri:0, instance:framework.dataDriven.ExecuteTest@9e0f5d]">inputData</td> 
  <td>TestNG@21279216</td>   <td></td> </tr>
<tr bgcolor="9c6f6d">  <td>21/01/11 08:58:45</td>   <td>-26274</td> <td title="&gt;&gt;CentralBaseProcessor.instantiate()[pri:0, instance:framework.dataDriven.ExecuteTest@9e0f5d]">&gt;&gt;instantiate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29034477</td>   <td></td> </tr>
<tr bgcolor="9c6f6d">  <td>21/01/11 08:59:11</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CentralBaseProcessor.teardown()[pri:0, instance:framework.dataDriven.ExecuteTest@9e0f5d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@21279216</td>   <td></td> </tr>
<tr bgcolor="9c6f6d">  <td>21/01/11 08:59:12</td>   <td>295</td> <td title="&lt;&lt;CentralBaseProcessor.terminate()[pri:0, instance:framework.dataDriven.ExecuteTest@9e0f5d]">&lt;&lt;terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29034477</td>   <td></td> </tr>
</table>
