<h2>Reporter output</h2><table><tr><td>	 <--------------> TESTSUITE STARTING__ <--------------> 
</td></tr>
<tr><td>	 [INFO] - Executed | EXECUTING ON CHROME |</td></tr>
<tr><td>	 <--------------> TESTCASE FINISHED! <--------------> 
</td></tr>
<tr><td>	 <--------------> TESTCLASS FINISHED! <--------------> 
</td></tr>
<tr><td>	 <--------------> TESTSUITE FINISHING___ <--------------> 
</td></tr>
</table>