<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aabbdc">  <td>21/01/08 17:34:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BelgaPress.Belgapress()[pri:0, instance:infrastructure.thread.BelgaPress@cde7cc]">Belgapress</td> 
  <td>main@20702666</td>   <td></td> </tr>
<tr bgcolor="9aa292">  <td>21/01/08 17:34:54</td>   <td>787</td> <td>&nbsp;</td><td title="&lt;&lt;CentralBaseProcessor.EndExtentReport()[pri:0, instance:infrastructure.thread.BelgaPress@cde7cc]">&lt;&lt;EndExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20702666</td>   <td></td> </tr>
<tr bgcolor="9aa292">  <td>21/01/08 17:34:54</td>   <td>281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CentralBaseProcessor.PostProcessing(org.testng.ITestResult)[pri:0, instance:infrastructure.thread.BelgaPress@cde7cc]">&lt;&lt;PostProcessing</td> 
<td>&nbsp;</td>  <td>main@20702666</td>   <td></td> </tr>
<tr bgcolor="9aa292">  <td>21/01/08 17:34:54</td>   <td>-19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CentralBaseProcessor.Pretreatment(java.lang.reflect.Method)[pri:0, instance:infrastructure.thread.BelgaPress@cde7cc]">&gt;&gt;Pretreatment</td> 
<td>&nbsp;</td>  <td>main@20702666</td>   <td></td> </tr>
<tr bgcolor="9aa292">  <td>21/01/08 17:34:54</td>   <td>-19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CentralBaseProcessor.Setup(java.lang.String, int, int, java.lang.String, int, java.lang.String, int, java.lang.String, java.lang.String)[pri:0, instance:infrastructure.thread.BelgaPress@cde7cc]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@20702666</td>   <td></td> </tr>
<tr bgcolor="9aa292">  <td>21/01/08 17:34:54</td>   <td>-33</td> <td>&nbsp;</td><td title="&gt;&gt;CentralBaseProcessor.StartExtentReport(java.lang.String)[pri:0, instance:infrastructure.thread.BelgaPress@cde7cc]">&gt;&gt;StartExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20702666</td>   <td></td> </tr>
<tr bgcolor="60bcab">  <td>21/01/08 17:34:54</td>   <td>-29</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SubTransferStator.initial()[pri:0, instance:infrastructure.thread.BelgaPress@cde7cc]">&gt;&gt;initial</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20702666</td>   <td></td> </tr>
<tr bgcolor="9aa292">  <td>21/01/08 17:34:53</td>   <td>-283</td> <td title="&gt;&gt;CentralBaseProcessor.instantiate()[pri:0, instance:infrastructure.thread.BelgaPress@cde7cc]">&gt;&gt;instantiate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20702666</td>   <td></td> </tr>
<tr bgcolor="9aa292">  <td>21/01/08 17:34:54</td>   <td>782</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CentralBaseProcessor.teardown()[pri:0, instance:infrastructure.thread.BelgaPress@cde7cc]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20702666</td>   <td></td> </tr>
<tr bgcolor="9aa292">  <td>21/01/08 17:34:55</td>   <td>1039</td> <td title="&lt;&lt;CentralBaseProcessor.terminate()[pri:0, instance:infrastructure.thread.BelgaPress@cde7cc]">&lt;&lt;terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20702666</td>   <td></td> </tr>
</table>
