<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd6edd">  <td>21/01/15 17:38:49</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;CentralBaseProcessor.EndExtentReport()[pri:0, instance:infrastructure.thread.BelgaPress@f93788]">&lt;&lt;EndExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@15493907</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>21/01/15 17:38:48</td>   <td>-639</td> <td>&nbsp;</td><td title="&gt;&gt;CentralBaseProcessor.StartExtentReport(java.lang.String)[pri:0, instance:infrastructure.thread.BelgaPress@f93788]">&gt;&gt;StartExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@15493907</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>21/01/15 17:38:48</td>   <td>-869</td> <td title="&gt;&gt;CentralBaseProcessor.instantiate()[pri:0, instance:infrastructure.thread.BelgaPress@f93788]">&gt;&gt;instantiate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6811689</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>21/01/15 17:38:49</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CentralBaseProcessor.teardown()[pri:0, instance:infrastructure.thread.BelgaPress@f93788]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@2703058</td>   <td></td> </tr>
<tr bgcolor="dd6edd">  <td>21/01/15 17:38:49</td>   <td>298</td> <td title="&lt;&lt;CentralBaseProcessor.terminate()[pri:0, instance:infrastructure.thread.BelgaPress@f93788]">&lt;&lt;terminate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6811689</td>   <td></td> </tr>
</table>
